<p *ngIf="message">{{message}}</p><br>

<div *ngIf="processValues">
  <div id="control">
  <p> Status Pompy </p>
    <button (click)="onWateringStart()">{{wateringText}}</button><br>
    <label for="power">Moc Pompy [1-100%]</label><br>
    <input #power class="slider" type="range" min="1" max="100" id="power" (change)="onPowerChange(power.valueAsNumber)">
  </div>


  <div id="tasks">
    <br>
    <p> Wykonywanie zadan: </p>
    <button (click)="onTaskClick()" >{{tasksText}}</button><br>
  <br>
  </div>


  <div id="process_values">
    Poziom w zbiorniku [l] {{processValues.waterLevel_L}}<br>
    Przepompowano wody [l] {{processValues.waterPumped_L}}<br>
    Przeplyw wody [l/min] {{processValues.waterFlow_Lpermin}}<br>
    Czas uruchomienia [s] {{processValues.timeOn_s}}<br>
  </div>
</div>

